@import 'src/vars.scss';

.word-list {
    width: 100%;
}

.word-table {
    width: 100%;
    border-collapse: separate;
}

.table-cell {
    border: 1px solid $color-c;
    height: 40px;
    text-align: center;
}

.table-cell1 {
    border: 1px solid $color-c;
    height: 40px;
    text-align: center;
    padding-right: 20px;
    text-align: center;
}

.table-col1 {
    border: 1px solid $color-c;
    width: 30px;
    height: 40px;
    text-align: center;
}

.table-col2, .table-col3, .table-col4, .table-col5, .table-col6 {
    border: 1px solid $color-c;
    width: 250px;
    height: 40px;
    text-align: center;
} 

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $color-c;
}

.save-btn {
    background-color:$color-save-btn;
    border-radius: 5px;
    color: $color-w;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid $color-g;
}

.save-btn:hover {
    background-color: #388e3c;
}

.cancel-btn {
    background-color: $color-cancel-btn;
        border-radius: 5px;
        color: $color-w;
        cursor: pointer;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        border: 1px solid $color-g;
}

.cancel-btn:hover {
    background-color: rgb(43, 43, 126);
}

.edit-btn {
    background-color: $color-edit-btn;
    border-radius: 5px;
    color: $color-w;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid $color-g;
}

.edit-btn:hover {
    background-color: rgb(160, 109, 16);
}

.delete-btn {
    background-color: $color-delete-btn;
    border-radius: 5px;
    color: $color-w;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid $color-g;
}

.delete-btn:hover {
    background-color: rgb(170, 49, 49);
}

.add-btn {
    background-color: $color-basic-btn;
    border-radius: 5px;
    color: $color-w;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid $color-g;
    font-weight: bold;
    margin: 10px;
}

.add-btn:hover {
    background-color: rgb(91, 93, 224);
}

.add-btn:active {
    transform: scale(0.95);
}