$color-card: rgb(250, 216, 247);
$color-transcription: gray;
$color--translate-btn: rgb(53, 54, 119);
$color-w: white;
$color-translation: rgb(37, 37, 37);
$color-card-border: rgb(163, 131, 131);
$color-edit-btn: rgb(235, 175, 65);
$color-save-btn: rgb(60, 196, 60);
$color-delete-btn: rgb(233, 71, 71);
$color-cancel-btn: rgb(92, 92, 218);
